// rem (better support for accessibility)
html {
    //makes rem = 10px
    font-size: 62.5%;
}


body {
    font-family: Helvetica, Arial, san-serif;
    //now rem is 16px
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}